body {
    margin: 1em;
    background-color: #9E9E9E;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #333;
}

h1 {
    padding: 1em;
    color: #666;
    font-size: 100%;
}

hr {
    border-top: 2px solid #e3e3e3;
}

pre {
    overflow: auto;
    margin: 1em;
    line-height: 2em;
}

footer {
    margin: 1em;
}

.container {
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
}

/* ***** */
/* Icons */
/* ***** */

pre a[href]:before,
pre a[href$="/"]:before {
    content: "";
    padding: 5px 25px 0 0;
    background-repeat: no-repeat;
    background-position: left bottom;
}

a[href]:before {
    background: url(../images/icons/default.png);
}

a[href$="/"]:before {
    background: url(../images/icons/folder.png);
}

/* Source Codes */

a[href$=".c"]:before {
    background: url(../images/icons/c.png);
}

a[href$=".h"]:before {
    background: url(../images/icons/c.png);
}

a[href$=".cpp"]:before {
    background: url(../images/icons/cpp.png);
}

a[href$=".hpp"]:before {
    background: url(../images/icons/cpp.png);
}

a[href$=".java"]:before {
    background: url(../images/icons/java.png);
}

a[href$=".rs"]:before {
    background: url(../images/icons/rust.png);
}

/* Compression */

a[href$=".zip"]:before {
   background: url(../images/icons/zip.png);
}

a[href$=".7z"]:before {
   background: url(../images/icons/zip.png);
}

a[href$=".tar"]:before {
    background: url(../images/icons/zip.png);
}

a[href$=".tar.gz"]:before {
    background: url(../images/icons/zip.png);
}

a[href$=".gz"]:before {
    background: url(../images/icons/zip.png);
}

a[href$=".rar"]:before {
    background: url(../images/icons/zip.png);
}

a[href$=".dmg"]:before {
    background: url(../images/icons/dmg.png);
}

a[href$=".exe"]:before {
    background: url(../images/icons/exe.png);
}

a[href$=".msixbundle"]:before {
    background: url(../images/icons/exe.png);
}

/* Documents */

a[href$=".pdf"]:before {
   background: url(../images/icons/pdf.png);
}

/* Debian */

a[href$=".deb"]:before {
   background: url(../images/icons/deb.png);
}

